#app {
    display: none;
    min-height: calc(100vh - 90px);
}

#app.mounted {
    display: flex;
}

.v-tree {
    width: 400px;
    margin: 10px;
    border: 1px solid #ddd;
    position: relative;
}

.v-tree .v-node {
    padding: 3px;
}

.v-tree .v-node.active {
    background: lightseagreen;
    color: #fff;
}

/*.v-tree .v-node.hasChildren:after {
    display: inline-block;
    content: '[+]';
    margin-left: 10px;
}*/

/*.v-tree .v-node.hasChildren:after {
    content: '[-]';
}*/

.editor {
    flex: 1 0 auto;
    margin: 10px;
    border: 1px solid #ddd;
}

.editor > textarea {
    border: none;
    display: block;
    width: 100%;
    height: 100%;
}

.v-tree-control {
    position:absolute;
    width: 100px;
    border: 1px solid gray;
    background: #fff;
}
.v-tree-control button{
    display: block;
}