<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todoMVC</title>
    <style>
        #app {
            width: 700px;
            margin: 20px auto;
            border: 1px solid #ddd;
        }

        #app form {
            display: inline-block;
        }

        #app h3 {
            text-align: center;
        }
    </style>
</head>
<body>
<p>
    例子源码地址：

    https://github.com/vuejs/vue/tree/dev/examples/todomvc
</p>
<div id="app">
    <h3>{{title}}</h3>
    <div class="newTodo">
        <label>
            <input v-model="selectAll" type="checkbox">全选
        </label>
        <form @submit.prevent="addTodoHandler">
            <input type="text" v-model="newTodo" placeholder="添加新任务">
        </form>
    </div>
    <div class="todos">
        <div v-for="todo in todos">
            <input type="checkbox" v-model="selectedTodos" :value="todo.id">
            {{todo.content}}
        </div>
    </div>
    <div class="forter">
        <div style="float:right;">
            <input type="radio" v-model="visibility" value="0">
            <input type="radio" v-model="visibility" value="1">
            <input type="radio" v-model="visibility" value="2">
        </div>
    </div>
</div>

<script src="vue.js"></script>
<script src="todoServ.js"></script>
<script>
    (function () {
        let app = new Vue({
            el: '#app',
            data: {
                title: 'todos',
                //所有任务
                todos: [],

                //待添加的新任务
                newTodo: '',

                //编辑状态的todo
                editedTodo: null,

                //可见的
                visibility: 'all',

                selectedTodos: [],
                selectAll: false
            },
            methods: {
                getAll(){
                    this.todos = todoServ.getAll();
                },
                addTodoHandler(){
                    todoServ.add({content: this.newTodo});
                    this.newTodo = '';
                    this.getAll();
                },
            },
            watch: {
                selectAll(val){
                    if (val) {
                        this.selectedTodos = this.todos.map(e=>e.id);
                    } else {
                        this.selectedTodos = [];
                    }
                }
            },
            created(){
                this.getAll();
            }
        });
    })();
</script>
</body>
</html>